html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    margin: 0;  
    display: flex;
    flex-flow: column;
    align-items: stretch;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 11pt;
}
* {
    box-sizing: border-box;
}

header {
    flex-shrink: 0;
    width: 100%;
}
main {
    height: auto;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-grow: 1;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-x: none;
}
main > section {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
}
main > section.mainpane {
    flex-shrink: 1;
}


/* UTILS */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}