header{
    height: 40px;
    color: white;
    background-color: rgb(55, 56, 58);
    overflow: hidden;
}
header, header *{
    user-select: none;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}
header p {
    margin: 0;
}