header{
    height: 40px;
    color: white;
    background-color: rgb(55, 56, 58);
    overflow: hidden;
}
header *{
    user-select: none;
}
header h1 {
    margin: 0;
    cursor: default;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}