.mainpane{
    flex-shrink: 1;
    background-color: rgb(237, 237, 237);
}
.mainpane ul.pictures-list {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 10px;
}
.mainpane ul.pictures-list li {
    flex-grow: 1;
    height: 140px;
    min-width: 100px;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mainpane ul.pictures-list li img{
    max-height: 100%;
    max-width: 50%;
    object-fit: cover;
    opacity: 0;
}