.mainpane {
  flex-shrink: 1;
  color: var(--fg-default);
  background-color: var(--bgd-default);
}

.mainpane ul.pictures-list {
  list-style: none;
  padding: 0;
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 3px;

  &::after {
    content: '';
    flex-grow: 1000000000;
  }
}

.mainpane ul.pictures-list li {
  flex-grow: 1;
  animation: fadeIn .2s;
  background-color: var(--picture-loading-bg-color);
  position: relative;

  .selected-overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 3px;
    border: 3px solid var(--fg-info);
  }

  .thumb {
    width: 100%;
    height: 100%;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

}

.mainpane ul.pictures-list li .dir-thumb {
  position: relative;
  aspect-ratio: 1;
  background-color: var(--picture-loaded-bg-color);

  &:hover {
    background-color: var(--bg-info);
  }

  svg {
    width: 50%;
    height: 50%;
    color: var(--fgl-info);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 6%;
    text-align: center;
    @include no-select;
  }
}

.mainpane div.picture-and-carousel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  div.full-image {
    flex-grow: 1;
    position: relative;
    max-height: calc(100% - 35px); // 35px is the minimum height left for the carousel container
    overflow: scroll;

    .image-container {
      // padding is automatically set from rust
      max-height: 100%;
      position: relative;
      transform-origin: 0 0;

      .image {
        // border-radius is automatically set from rust
        background-color: var(--picture-loading-bg-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: fadeIn .2s;
        width: 100%;
        height: 100%;
      }
    }
  }

  div.carousel-container {
    flex-basis: 70px; // 70px is the maximum height for the carousel container
    min-height: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    div.carousel-overflow {
      position: absolute;
      height: 60px;
      // 60px is the height of the carousel so that it stays pined at the top of the container when big enough
      bottom: max(3px, calc(100% - 60px));
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }
  }

  div.carousel-container > div.carousel-overflow > .carousel {
    position: relative;
    height: 60px;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-wrap: nowrap;
    gap: 3px;

    ul {
      position: relative;
      overflow: scroll;
      padding: 0 3px; // horizontal padding is managed automatically in Rust, changing this value will have no effect.
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      gap: 3px;

      flex-grow: 1;
      flex-basis: 100%;
      min-width: 0;

      li {
        flex-shrink: 0;
        background-color: var(--picture-loading-bg-color);
        animation: fadeIn .2s;
        position: relative;


        div {
          border-radius: 2px;
          background-size: cover;
          background-position: center center;
        }

        .selected-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          border: 2px solid var(--fg-info);
        }
      }

    }
  }
}
