/***** GENERAL *****/

.th-dark {
    --text-color: white;
    --bg-color: black;
}

/***** HEADER *****/

header.th-dark {
    --bg-color: hsl(0, 0%, 16%);
    --hover-bg-color: hsl(0, 0%, 26%);
    /* Menu */
    --menu-bg-color: hsl(0, 0%, 16%);
    --menu-underline-color: hsl(0, 0%, 70%);
    --menu-separator-color: hsl(0, 0%, 50%);
    /* Buttons */
    --button-svg-color: hsl(0, 0%, 100%);
    /* Title */
    --title-color: #e6e6e6;
    /* Windows buttons */
    --windows-buttons-color: white;

}

/***** SIDE BAR *****/

main.th-dark .sidebar {
    --text-color: white;
    --bg-color: rgb(30, 30, 30);
    --separator-color: hsl(0, 0%, 16%);
    /* Tabs Header */
    --header-bg-color: hsl(0, 0%, 8%);
    --header-svg-color: white;
    --header-button-hover-color: hsl(0, 0%, 12%);
}

/***** MAIN PANE *****/

main.th-dark .mainpane {
    --text-color: white;
    --bg-color: hsl(0, 0%, 8%);
}