/***** GENERAL *****/

.th-light {
    --text-color: black;
    --bg-color: white;
}

/***** HEADER *****/

header.th-light{
    --bg-color: white;
    --hover-bg-color: hsl(0, 0%, 90%);
    // Menu
    --menu-bg-color: hsl(0, 0%, 96%);
    --menu-underline-color: hsl(0, 0%, 30%);
    --menu-separator-color: hsl(0, 0%, 50%);
    // Buttons
    --button-svg-color: hsl(0, 0%, 24%);
    --button-row-scroll-shadow: rgba(0, 0, 0, .2);
    // Title
    --title-color: hsl(0, 0%, 24%);
    // Windows buttons
    --windows-buttons-color: hsl(0, 0%, 24%);
}

/***** SIDE BAR *****/

main.th-light .sidebar {
    --text-color: black;
    --bg-color: white;
    --separator-color: hsl(0, 0%, 88%);
    // Tabs Header
    --header-bg-color: hsl(0, 0%, 93%);
    --header-svg-color: hsl(0, 0%, 24%);
    --header-button-hover-color: hsl(0, 0%, 88%);
    // Components
    --hover-bg-color: hsl(0, 0%, 93%);
}

/***** MAIN PANE *****/

main.th-light .mainpane {
    --text-color: #3c3c3c;
    --bg-color: hsl(0, 0%, 93%);
    // Pictures list
    --pictures-list-thumbnail-loading-bg-color: hsl(0, 0%, 70%);
    --pictures-list-dir-svg-color: hsl(215, 49%, 50%);
    --pictures-list-dir-hover-color: hsl(215, 49%, 90%);
}