/**************************************/
/*************** HEADER ***************/
/**************************************/

header.th-light {
    color: black;
    --header-background-color: white;
    background-color: var(--header-background-color);
}

/***** MENU BAR *****/

/* Menu Alt shortcut underline */
header.th-light .windows-menu.alt-mode .menu p span {
    text-decoration-color: rgb(75, 75, 75);
}

/* Menus */
header.th-light .windows-menu .menu>.children-box>.children {
    background-color: rgba(255, 255, 255, 0.99);
}


/* Selected/opened menu */
header.th-light .windows-menu.opened>.menu.opened,
header.th-light .windows-menu .menu.selected,
header.th-light .windows-menu .item.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Menu separator */
header.th-light .windows-menu .menu-item.separator hr {
    background-color: gray;
}

/* Sub-menus arrow */
header.th-light .windows-menu .menu-arrow>div {
    background-color: black;
}

/***** BUTTONS *****/

header.th-light .buttons button {
    color: black;
    background-color: transparent;
}
header.th-light .buttons button:hover, header.th-light .buttons button:focus{
    background-color: rgba(0, 0, 0, 0.1);
}
header.th-light .buttons button svg {
    color: #3c3c3c;
}

/***** TITLE *****/

header.th-light .title p {
    color: #3c3c3c;
}

/***** WINDOWS BUTTONS *****/

header.th-light .windows-buttons>div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header.th-light .windows-buttons>div.close:hover {
    background-color: rgb(212, 52, 41);
}

header.th-light .windows-buttons>div>div {
    background-color: black;
}

header.th-light .windows-buttons>div.maximize>div {
    background-color: transparent;
    border-color: black;
}

/**************************************/
/************* SIDE PANES *************/
/**************************************/


main.th-light .sidebar {
    color: black;
    background-color: white;
}
main.th-light .sidebar.rightbar {
    border-left: 2px solid #a5a5a5;
}
main.th-light .sidebar.leftbar {
    border-right: 2px solid #a5a5a5;
}

/* Tabs header */
main.th-light .sidebar .tabs-header {
    background-color: rgba(0, 0, 0, 0.08);
}
main.th-light .sidebar .tabs-header button {
    color: #3c3c3c;
}
main.th-light .sidebar .tabs-header button:hover,
main.th-light .sidebar .tabs-header button:focus {
    border-color: #cacaca;
}
main.th-light .sidebar .tabs-header button.selected {
    background-color: white;
}


/**************************************/
/************* MAIN PANE **************/
/**************************************/


main.th-light .mainpane{
    color: black;
    background-color: #ededed;
}