/**************************************/
/*************** HEADER ***************/
/**************************************/

header.th-light {
    color: black;
    background-color: white;
}

/***** MENU BAR *****/

/* Menu Alt shortcut underline */
header.th-light .windows-menu.alt-mode .menu p span {
    text-decoration-color: rgb(75, 75, 75);
}

/* Menus */
header.th-light .windows-menu .menu>.children-box>.children {
    background-color: rgba(255, 255, 255, 0.99);
}


/* Selected/opened menu */
header.th-light .windows-menu.opened>.menu.opened,
header.th-light .windows-menu .menu.selected,
header.th-light .windows-menu .item.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Menu separator */
header.th-light .windows-menu .menu-item.separator hr {
    background-color: gray;
}

/* Sub-menus arrow */
header.th-light .windows-menu .menu-arrow>div {
    background-color: black;
}

/***** BUTTONS *****/



/***** WINDOWS BUTTONS *****/

header.th-light .windows-buttons>div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header.th-light .windows-buttons>div.close:hover {
    background-color: rgba(180, 25, 23);
}

header.th-light .windows-buttons>div>div {
    background-color: black;
}

header.th-light .windows-buttons>div.maximize>div {
    background-color: transparent;
    border-color: black;
}